{% load static %}

<!DOCTYPE html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>

<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn">
                    <button type="button" class="toggle-btn"><a href="/loginmodule/login/">Sign In</a></button>
                </div>
            </div>
            <form id="login" class="input-group" >
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="email" class="input-field" placeholder="Email Id" required>
                <input type="password" class="input-field" placeholder="Enter password" required>
                <input type="checkbox" class="check-box"><span>I agree to terms & Conditions</span>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
</body>

</html>